#coords-input-bar {
    bottom: 30px;
    left: 30px;
}

#coords-input-bar input {
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid #9d816a;
    -moz-appearance: textfield;
    font-size: 1rem;
}

#coords-input-bar input:focus {
    outline: none;
}

#coords-input-bar input::-webkit-outer-spin-button,
#coords-input-bar input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#coords-input-bar button {
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid #9d816a;
    background-color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

#coords-input-bar button:hover {
    background-color: #f0e6d9;
}

#coords-input-bar button[style*="display: none"] {
    opacity: 0;
    transform: translateY(5px);
    visibility: hidden;
}

#dots-layer, .dots-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.custom-blue-dot {
    background: #c4af46 !important;
    border: 3px solid #4f4d1a !important;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 20;
}

.coords-error-popup {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #ff6b6b;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
    font-weight: bold;
    text-align: center;
    max-width: 300px;
}

.coords-success-popup {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #51cf66;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
    font-weight: bold;
    text-align: center;
    max-width: 300px;
}

/* Базові стилі для контейнера з зумом */
#zoom-container {
    transform-origin: 0 0;
    user-select: none;
    height: 100%;
    cursor: default !important;
    pointer-events: auto !important;
}

/* Спеціальні стилі для картинки */
#image {
    cursor: default !important;
    max-width: 100%;
    height: auto;
    pointer-events: auto !important;
    -webkit-user-drag: none !important;
    user-drag: none !important;
}



