* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #2b2b2b;
}

.header {
    background-color: #ffffff;
    color: #2b2b2b;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    height: 60px;
}

.header h1 {
    cursor: pointer;
}

.header .version-container {
    margin-top: 10px;
    color: #b0b0b0;
}

.menu-container {
    margin-left: 60px;
    display: flex;
    align-items: center;
    font-weight: 500;
}



#telegram-channel-link {
    margin-left: auto;
    padding: 8px 15px 8px 15px;
    border-radius: 50px;
    background-color: #658dd1;
    box-shadow: 0 0px 8px #658dd153;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#telegram-channel-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #ffffff;
    gap: 10px;
}

#telegram-channel-link img {
    position: relative;
    scale: 0.9;
}

#telegram-channel-link a span {
    margin-bottom: 2px;
    font-size: 14px;
}

#telegram-channel-link:hover {
    scale: 1.03;
    box-shadow: 0 0px 13px #658dd183;
}

#telegram-channel-link:active {
    scale: 0.97;
    box-shadow: 0 0px 13px #658dd183;
}

.main-container {
    display: flex;
    flex-direction: column;
    /* justify-content: start;
    align-items: start; */
    width: 100%;
    flex: 1;
    background-image: url(../images/background-photo-light-v2-big-size.webp);
    background-position: center;    
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    background-color: #ffffff;
    color: #b0b0b0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: #c6a289;
    text-decoration: none;
    cursor: pointer;
}

.update-banner {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #222;
    color: #fff;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    gap: 16px;
    font-size: 1.1em;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.update-banner-text {
    margin-right: 16px;
}

.update-banner-btn {
    background: #4683c4;
    box-shadow: 0 4px 12px rgba(48, 106, 150, 0.5);
    color: #fff;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.2s;
}

.update-banner-btn:hover {
    background: #528dd4;
}

.on-map {
    position: absolute;
    background-color: #ffffff;
    z-index: 1002;
    padding: 15px;
    background-color: #eccda9;
    border: 3px solid #9d816a;
    border-radius: 10px;
    box-shadow: 0 4px 15px #61504388;
}

.on-map-feachers {
    position: absolute;
    background-color: #ffffff;
    z-index: 1002;
    padding: 9px;
    background-color: #eccda9;
    border: 3px solid #9d816a;
    border-radius: 10px;
    box-shadow: 0 4px 15px #61504388
}
