.all-versions-info-container {
    display: flex;
    justify-content: center;
    max-height: calc(100vh - 120px);
    width: 100%;
}

.version-history-bar {
    text-align: center; 
    margin-bottom: 20px;
    position: absolute;
    right: calc(50vw - 120px);
}

#version-history-title {
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(24, 24, 24, 0.067);
    border-radius: 0px 0px 12px 12px;
    display: inline-block;
    padding: 12px 24px;
    font-size: 1.5em;
    font-weight: 600;
}

.version-history-container {
    height: calc(100vh - 100px);
    overflow-y: auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#versions-list {
    margin-top: 70px;
}

.version-block {   
    margin: 40px auto;
}

.version-item { 
    margin-bottom: 24px; 
    max-width: 800px; 
    background: #fff; 
    border-radius: 12px; 
    padding: 24px; 
    box-shadow: 0 2px 12px #0001;
    p { margin-bottom: 12px; }
}

.version-title { 
    font-weight: bold; 
    font-size: 1.2em; 
}

.version-date { 
    color: #888; 
    font-size: 0.95em; 
    margin-left: 8px; 
}

.version-desc { 
    margin-top: 6px; 
}